
.bg{
    background-image: url(./bgm2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 120%;
}

.box{
    text-align: center;
}

.container{
    text-align: center;
    margin-top: 50px;
}

.box1{
   
    background-color: goldenrod;
    display: inline-block;
    padding: 10px;
    /* text-decoration: underline; */
    border-radius: 20px;

}

.pra{
      font-family: "Poppins", sans-serif;
    font-size: 4vh;
      margin-left: 30px;
      font-weight:bold
      /* text-decoration: underline */
    ;
      

}

.h2{
    margin-left: 20px;
    background-color: gold;
    border-radius: 10px;
    display: inline-block;
    font-family: "Poppins", sans-serif;

}

.box3{
      font-family: "Poppins", sans-serif;
    font-size: 3vh;
    /* background-color: white;  */
    display: inline-block;
    margin: 30px;
    
}

.h3{
    
    background-color: gold;
    display: inline-block;
    border-radius: 20px;
    margin:20px;
     font-family: "Poppins", sans-serif;

}

.ol{
     font-family: "Poppins", sans-serif;
     font-size: 30px;
}

